:root {
  --header-font: "Impact", "Arial Black", Helvetica, sans-serif;
  --subheader-font: "Helvetica", Helvetica, sans-serif;
  --bullet-font: "Georgia", Georgia;
}

.App {
  text-align: left;
  display: flex;
}

#SideBar {
  flex: 1 0 0;
}

#Appointments {
  flex: 1 0 0;
}
